@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
  background-color: #f5f5f5;
}

/*  Header
=======================*/

.header {
    background-color: #ededed;
    border-bottom: 3px solid #ebebeb;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100px;
}

.nav {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    float: right;
    position: relative;
    top: 2.5em;
    text-transform: uppercase;
}

.nav_link {
    color: #757375;
    text-decoration: none;
    padding-right: 50px;
}

.nav_link:hover {
  color: #03a1fc;
}

/* Main
============================================*/
.main {
  width: 100%;
  height: 320px;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.block {
  width: 350px;
}

.block:not(:last-of-type) {
  margin-right: 70px;
}

.container1 {
  display: flex;
  align-items: center;
}

.img {
  width: 40px;
  padding-right: 15px;
}

.main_title {
  font-size: 24px;
  padding: 10px 0px;
}

.main_text {
  font-size: 16px;
  padding: 10px 0;
  text-align: justify;
  color: #6e6e6e;
}

.ssylka {
  padding-top: 10px;
  text-decoration: none;
  color: #7dcfdb;
  text-transform: uppercase;
  font-size: 16px;
}

/*Footer
===========================================*/
footer {
  width: 100%;
  height: 234px;
  position: relative;
}

#other {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;
  margin-left: 85px;
}

.button {
  width: 120px;
  height: 30px;

  position: relative;
  border: 2px solid #ebebeb;
  border-radius: 10px;
  background-color: #fff;
  float: right;
  right: 85px;
  bottom: 25px;
}

.button p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;

  padding: 7px 12px;
}

.all_img {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#img1, #img2, #img3, #img4, #img5 {
  border-radius: 10px;
}

#img1, #img2, #img3, #img4 {
  margin-right: 37px;
}

#img1 {
  width: 210px;
  height: 110px;
  background-image: url('7HesDBMdi4c.jpg');
  background-size: cover;
}
#img2 {
  width: 210px;
  height: 110px;
  background-image: url('1_5lpiSFo6j5dhrr6Z6RFd8Q.jpeg');
  background-size: cover;
}

#img3 {
  width: 210px;
  height: 110px;
  background-image: url('_YNsFSTIvHk.jpg');
  background-size: cover;
}

#img4 {
  width: 210px;
  height: 110px;
  background-image: url('_q5Y7tUK-WA.jpg');
  background-size: cover;
}

#img5 {
  width: 210px;
  height: 110px;
  background-image: url('_9nhUK9W3sE.jpg');
  background-size: cover;
}
